<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Quote Letter</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
<table width="100%">
	<tr>
    	<td id="headerRowId" width="100%">
        	<table width="100%">
            	<tr>
                	<td width="80%">Fusion Insurance Services</td>
                    <td width="20%">Date</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
    	<td id="containerRowId">
        </td>
    </tr>
    <tr>
    	<td id="footerRowId"></td>
    </tr>
</table>
  
</body>
</html>
